*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    background: url(3.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.navbar-brand{
    font-family: font2;
}

.welcome{
    text-align: center;
    margin: 9rem auto;
    padding: 2rem;
}

.p1{
    font-family: font2;
    font-size: 2rem;
}

.card{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem; 
}

.img{
    position: fixed;
}

.questions{
    margin: 3rem auto;
    width: 90vw;
    padding: 2rem;
    background: rgba(95, 158, 160, 0.562);
    cursor: default;
    border-radius: 1rem;
}

#question{
    margin-bottom: 1rem;
}

.option{
    margin-bottom: 0.5rem;
    font-size: 1.2rem;
    border-bottom: solid 0.1rem rgb(0, 119, 255);
    width: 15rem;
    background: lightblue;
    border-radius: 1rem;
}

.option:hover{
    color: white;
}

ol{
    position: relative;
    padding: 0 1.5rem;
    color: rgb(0, 0, 0)
}

span{
    display: block;
    padding: 0.1rem 0.7rem;
    border-radius: 1rem;
}

#answer{
    margin-top: 2.5rem;
}

#stat{
    margin-top: 1.5rem;
    color: rgb(0, 0, 0);
}

.buttons{
    text-align: center;
}

button{
    padding: 0.2rem 1.5rem;
    border: none;
    outline: none;
    font-size: 1.5rem;
    border-radius: 1.5rem;
    color: rgb(240, 240, 240);
    background: rgb(5, 4, 1);
}

button:active{
    background: rgb(0, 126, 175);
}

#scoreboard,#answerBank{
    width: 20rem;
    background: rgba(95, 158, 160, 0.562);
    padding: 2rem;
    text-align: center;
    margin: auto;
    position: relative;
    top: 5rem;
    display: none;
}

#score-title{
    margin: 1rem 0;
}

#score-btn,#check-answer{
    margin-top: 1rem;
}

#score{
    font-size: 2.5rem;
}

#answerBank li{
    text-align: left;
    margin-bottom: 0.2rem;
    font-size: larger;
}

#answers{
    margin-top: 1rem;
}

@font-face{
	font-family: font2;
	src: url(font2.otf);
}